name: CI

on:
  push:
    branches:
    - main
  pull_request:
  schedule:
  - cron: 5 4 * * *

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6
    - name: Get settings
      uses: mobiledevops/secret-to-file-action@v1
      with:
        base64-encoded-secret: ${{ secrets.SETTINGS_SECRET_BASE64 }}
        filename: settings.yaml
    - name: Install asdf & tools
      uses: asdf-vm/actions/install@v4
    - name: Pyright
      run: make pyright
    - name: pre-commit
      run: make pre-commit
    - name: Run ordure
      run: docker compose up --build --exit-code-from ordure
    - name: Healthcheck
      run: curl -fsS -m 10 --retry 5 -o /dev/null https://hc-ping.com/${{ secrets.HC_PING_ID }}
